SLACK_WEBHOOK_URL=https://hooks.slack.com/services/replace/me
AWS_REGION=us-east-1
GREENOPS_DRY_RUN=true
GREENOPS_POLICY_IDLE_CPU_THRESHOLD=2.0
GREENOPS_POLICY_IDLE_NETWORK_THRESHOLD_KBPS=100.0
GREENOPS_POLICY_REQUIRED_TAG_KEY=Environment
GREENOPS_POLICY_REQUIRED_TAG_VALUE=dev
GREENOPS_POLICY_AUTOSTOP_TAG_KEY=AutoStop
GREENOPS_POLICY_AUTOSTOP_TAG_VALUE=true
